body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: large;
    margin: 0;
    padding: 0;
    background: #171926;
    color: white;
}

header {
    background: url('image/banner.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

header h1 {
    font-size: 2.5em;
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
}


nav {
    text-align: center;
    margin-top: 6vh;
}

nav li {
	background-color: #194d69;
	border-radius: 10vh;
	display: inline;
	font-size: 20px; 
	margin: 2vh;
	padding: 1vh 2vh;
}

nav a { 
	color: #FCFAF9; 
	text-decoration: none;
}

h1, h2, h3 {
    text-align: center;
}

.home-body {
    display: block;
    text-align: center;
}

/* Style for Tech Hero Image */
.hero-image {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

